* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	background-color: #f3f3ed;
	margin: 0;
	font-family: 'Open Sans', arial;
	font-size: 12px;
}

nav {
	background-color: #87a655;
	line-height: 60px;
	color: #fff;
}

nav .row {
	background-color: #95b85e;
	padding: 0 20px;
}

nav img, nav h1 {
	vertical-align: middle;
}

nav h1 {
	font-size: 20px;
	display: inline;
	margin-left: 1em;
}

.row {
	width: 620px;
	margin: 0 auto;
}

#user {
	float: right;
}

#user img {
	margin-right: 1em;
}