<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="assets/dev/css/main.css">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="assets/dev/js/underscore.js"></script>
        <script src="assets/dev/js/backbone.js"></script>
        <script src="assets/dev/js/moment.min.js"></script>
    </head>
    <body>
        <script type="text/template" id="userview">
            <img src="<%= avatar_url %>" width="32px" height="32px" alt="user" />
            <span><%= login %></span>
        </script>
        <script type="text/template" id="liview">
            <a href="#<%= full_name %>">
                <div class="end repo-props">
                    <span><img src="assets/dev/img/star.png" width="11px" height="10px" /> <%= stargazers_count %></span>
                    <span><img src="assets/dev/img/watch.png" width="13px" height="9px" /> <%= watchers_count %></span>
                    <span><img src="assets/dev/img/fork.png" width="8px" height="12px" /> <%= forks_count %></span>
                </div>

                <h4><%= name %></h4>
            </a>
        </script>
        <script type="text/template" id="repoview">
            <p class="title">
                <div class="end repo-props">
                    <span><img src="assets/dev/img/star.png" width="11px" height="10px" /> <%= stargazers_count %></span>
                    <span><img src="assets/dev/img/watch.png" width="13px" height="9px" /> <%= watchers_count %></span>
                    <span><img src="assets/dev/img/fork.png" width="8px" height="12px" /> <%= forks_count %></span>
                </div>
                <h3><%= name %></h3> <span>· Last updated <%= updated_since %></span>
            </p>

            <p><%= description %></p>
            <p class="languages"></p>
            <a href="#<%= owner.login %>">Back to list</a> 
            |
            <a href="<%= html_url %>">View it on github</a>
        </script>
        <script type="text/template" id="langview">
            <strong><%= name %></strong>
            <span><%= percent %>%</span>
        </script>
        <script type="text/template" id="formview">
            <input type="text" name="username" placeholder="Type a github username and press enter" autofocus />
        </script>
        
        <nav>
            <div class="row">
                <div id="user" class="end"></div>
                <a href="#" title="Back to start"><img src="/assets/dev/img/github.png" width="23px" height="20px" alt="github" /></a>
                <h1>
                    Popular repositories
                </h1>
            </div>
        </nav>

        <section id="main" class="row">
            <div id="content" class="loading">
                <form id="start">
                    
                </form>
            </div>
        </section>

        
        <script src="assets/dev/js/app.js"></script>
    </body>
</html>
